/* Default layout */

html {
  height: 100%;
}

body {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #f60;
}

h1 {
  font-weight: 600;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  position: relative;
}


main {
  padding: 10px;
  padding-bottom: 60px;
  min-height: 100%;
}

.content {
  margin: 5% auto;
  text-align: center;
  width: 70%;
  font-size: 1.2em;
  line-height: 130%;
}

.headline {
  width: 60%;
  margin: 15% auto 0;
  text-align: center;
  font-size: 1.5em;
}

/* About page */

#headshot {
  border-radius: 50%;
  margin-bottom: 10px;
}

.intro-text {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

/* Header */

header {
  background: #c2d6d6;
  padding: 15px;
}

.logo {
  height: 80px;
}

.links {
  float: right;
  padding-top: 35px;
}

.links li {
  display: inline;
  text-transform: uppercase;
  padding: 8px;
  margin-left: 10px;
}

li a {
  transition-property: color;
  transition-duration: 0.3s;
}

li a:hover {
  color: white;
}

/* Posts layout */

.back {
  display: block;
  text-align: center;
}

.back:before {
  content: '<<';
}

.date {
  float: right;
}

a.post-title:hover {
  color: #066;
}
/* Posts landing page */

.left-col {
  float: left;
  width: 47%;
  text-align: right;
}

.right-col {
  float: right;
  width: 47%;
}

.post-list {
  max-width: 60%;
  margin: 8% auto 10%;
  min-height: 100%;
}

.top {
  margin-top: 80px;
}

/* Post pages */

hr {
  width: 15%;
  margin-bottom: 75px;
  margin-top: 40px;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.social {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.social li {
  padding: 15px;
}

.grow {
  transition: transform 0.2s ease-out;
}

.grow:hover {
  transform: scale(1.2);
}

.linkedin {
  width: 32px;
}

.twitter {
  width: 40px;
}
